# Reddit Comments Prediction

In [64]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data=pd.read_csv('data.csv')

C:\Users\Dell\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (19) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
data

,Unnamed: 0,gilded,author_flair_css_class,id,link_id,downs,subreddit,author,score,subreddit_id,...,body,retrieved_on,parent_id,controversiality,name,score_hidden,distinguished,archived,created_utc,removal_reason
0,0,0,NaN,2,t3_7j6z5,0,politics,malcontent,1,t5_2cneq,...,&gt;The business cannot survive paying out ben...,1428217153,t1_c06vdmu,0,t1_2,False,NaN,True,1229580037,NaN
1,1,0,NaN,3,t3_7jlvw,0,politics,malcontent,1,t5_2cneq,...,"&gt;I'm curious, how do you see, beyond defini...",1428217153,t1_c06vcxp,0,t1_3,False,NaN,True,1229580041,NaN
2,2,0,NaN,4,t3_7jlvw,0,politics,malcontent,2,t5_2cneq,...,"&gt;I'm curious, how do you see, beyond defini...",1428217153,t1_c06vcxp,0,t1_4,False,NaN,True,1229580053,NaN
3,3,0,NaN,5,t3_7k65l,0,WTF,[deleted],1,t5_2qh61,...,[deleted],1428217153,t1_c06vuga,0,t1_5,False,NaN,True,1229580067,NaN
4,4,0,NaN,6,t3_7k97q,0,reddit.com,[deleted],1,t5_6,...,[deleted],1428217153,t3_7k97q,0,t1_6,False,NaN,True,1229580072,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
850354,850354,0,NaN,c06vwuf,t3_7k8lt,0,Music,[deleted],12,t5_2qh1u,...,"Yeah, seriously. If anything it ""revalues"" mus...",1428247742,t1_c06vwmo,0,t1_c06vwuf,False,NaN,True,1229579675,NaN
850355,850355,0,NaN,c06vwug,t3_7k3w5,0,comics,Morgin_Black,0,t5_2qh0s,...,"yes, beat it at failing.",1428247742,t3_7k3w5,0,t1_c06vwug,False,NaN,True,1229579679,NaN
850356,850356,0,NaN,c06vwuh,t3_7k31f,0,Economics,[deleted],1,t5_2qh1s,...,Yes. This DRM will have the ability to send s...,1428247742,t1_c06vhkx,0,t1_c06vwuh,False,NaN,True,1229579680,NaN
850357,850357,0,NaN,c06vwui,t3_7k2bc,0,atheism,onezerozeroone,1,t5_2qh2p,...,"To be fair, I think the original poster meant ...",1428247742,t1_c06vrvz,0,t1_c06vwui,False,NaN,True,1229579685,NaN
850358,850358,0,NaN,c06vwuj,t3_7k65l,0,WTF,vypermann,0,t5_2qh61,...,http://www.ilovewavs.com/Effects/Music/Sound%2...,1428247742,t1_c06vvzu,0,t1_c06vwuj,False,NaN,True,1229579686,NaN

In [53]:
data['removal_reason'].value_counts()

Series([], Name: removal_reason, dtype: int64)

### columns that are irrelevant 
author_flair_css_class <br>
id <br>
link_id <br>
author <br>
subreddit_id <br>
body <br>
parent_id <br>
name <br>
Unnamed: 0
<br><br> <b>We will remove the above columns and use the remaining ones. </b>

In [204]:
remaining=data.drop(columns=['author_flair_css_class','id','link_id','author','subreddit_id','body','parent_id','name','Unnamed: 0'])

In [205]:
remaining

,gilded,downs,subreddit,score,ups,edited,author_flair_text,retrieved_on,controversiality,score_hidden,distinguished,archived,created_utc,removal_reason
0,0,0,politics,1,1,0,NaN,1428217153,0,False,NaN,True,1229580037,NaN
1,0,0,politics,1,1,0,NaN,1428217153,0,False,NaN,True,1229580041,NaN
2,0,0,politics,2,2,0,NaN,1428217153,0,False,NaN,True,1229580053,NaN
3,0,0,WTF,1,1,0,NaN,1428217153,0,False,NaN,True,1229580067,NaN
4,0,0,reddit.com,1,1,0,NaN,1428217153,0,False,NaN,True,1229580072,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
850354,0,0,Music,12,12,0,NaN,1428247742,0,False,NaN,True,1229579675,NaN
850355,0,0,comics,0,0,0,NaN,1428247742,0,False,NaN,True,1229579679,NaN
850356,0,0,Economics,1,1,0,NaN,1428247742,0,False,NaN,True,1229579680,NaN
850357,0,0,atheism,1,1,0,NaN,1428247742,0,False,NaN,True,1229579685,NaN
850358,0,0,WTF,0,0,0,NaN,1428247742,0,False,NaN,True,1229579686,NaN

# Preprocessing

<b> In preprocessing, we will perform many cleaning steps. </b>

In [206]:
remaining.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 850359 entries, 0 to 850358
Data columns (total 14 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   gilded             850359 non-null  int64
 1   downs              850359 non-null  int64
 2   subreddit          850359 non-null  object
 3   score              850359 non-null  int64
 4   ups                850359 non-null  int64
 5   edited             850359 non-null  int64
 6   author_flair_text  3916 non-null    object
 7   retrieved_on       850359 non-null  int64
 8   controversiality   850359 non-null  int64
 9   score_hidden       850359 non-null  bool
 10  distinguished      2 non-null       object
 11  archived           850359 non-null  bool
 12  created_utc        850359 non-null  int64
 13  removal_reason     0 non-null       float64
dtypes: bool(2), float64(1), int64(8), object(3)
memory usage: 79.5+ MB

### Observations:
1. Feature 'removal_reason' is all null. So it can be removed. <br>
2. Feature 'distinguished' has only two non-null. So it can be removed <br>
3. Feature 'retrieved_on' is actually a datetime column. So I will keep it on hold and check whether in its absence, my model works well or not.

In [207]:
remaining=remaining.drop(columns=['removal_reason','distinguished','retrieved_on'])

In [208]:
remaining['gilded'].value_counts()

0    850359
Name: gilded, dtype: int64

4. Feature 'gilded' is all 0. There is no next number. So it can be removed from the column. It is of no use.<br>
5. Feature 'downs' is all 0. There is no next number. So it can be removed from the column. It is of no use.<br>
6. Feature 'controversiality' has only one value 1 and others 0. It is also like an outlier. So it is also of no use.<br>
7. Feature 'score_hidden' has all values False. So it can be removed from the column. It is of no use

In [209]:
remaining=remaining.drop(columns=['gilded','downs','controversiality','score_hidden'])

In [210]:
remaining

,subreddit,score,ups,edited,author_flair_text,archived,created_utc
0,politics,1,1,0,NaN,True,1229580037
1,politics,1,1,0,NaN,True,1229580041
2,politics,2,2,0,NaN,True,1229580053
3,WTF,1,1,0,NaN,True,1229580067
4,reddit.com,1,1,0,NaN,True,1229580072
...,...,...,...,...,...,...,...
850354,Music,12,12,0,NaN,True,1229579675
850355,comics,0,0,0,NaN,True,1229579679
850356,Economics,1,1,0,NaN,True,1229579680
850357,atheism,1,1,0,NaN,True,1229579685
850358,WTF,0,0,0,NaN,True,1229579686

In [211]:
remaining['created_utc'].value_counts()

1229711368    6
1229983148    6
1230347295    6
1228535810    6
1228849384    6
             ..
1228437067    1
1230530121    1
1228549661    1
1229111747    1
1229981697    1
Name: created_utc, Length: 714831, dtype: int64

In [212]:
x=remaining.drop(columns='score',axis=1)
y=remaining['score']

In [213]:
print(x['author_flair_text'].isna().sum()/x['author_flair_text'].shape[0]*100)

99.53948861598454

8. It seems that 99% of the data is missing. So there is no use of this column as well. Let's remove it<br>

In [214]:
x=x.drop(columns=['author_flair_text'])

In [215]:
x['archived']=x['archived'].astype('int')

In [216]:
'''from sklearn.preprocessing import LabelBinarizer
lb=LabelBinarizer()
x['subreddit']=lb.fit_transform(x['subreddit'])'''

"from sklearn.preprocessing import LabelBinarizer\nlb=LabelBinarizer()\nx['subreddit']=lb.fit_transform(x['subreddit'])"

In [217]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
le=LabelEncoder()
oh=OneHotEncoder()

In [218]:
q=x['subreddit']

In [219]:
q=le.fit_transform(q)

In [220]:
x['subreddit']=q

In [221]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
x=pd.DataFrame(data=ss.fit_transform(x),columns=list(x))

In [222]:
x

        subreddit       ups    edited  archived  created_utc
0        0.588701 -0.204179 -0.028097  0.011166     0.208352
1        0.588701 -0.204179 -0.028097  0.011166     0.208357
2        0.588701 -0.127160 -0.028097  0.011166     0.208373
3       -0.981827 -0.204179 -0.028097  0.011166     0.208391
4        0.678923 -0.204179 -0.028097  0.011166     0.208397
...           ...       ...       ...       ...          ...
850354  -1.446303  0.643021 -0.028097  0.011166     0.207884
850355  -0.507327 -0.281197 -0.028097  0.011166     0.207889
850356  -1.894070 -0.204179 -0.028097  0.011166     0.207890
850357  -0.774651 -0.204179 -0.028097  0.011166     0.207897
850358  -0.981827 -0.281197 -0.028097  0.011166     0.207898

[850359 rows x 5 columns]

In [224]:
from sklearn.model_selection import train_test_split
xtr,xte,ytr,yte=train_test_split(x,y,test_size=0.3,random_state=0)

In [225]:
print(xtr.shape,ytr.shape,xte.shape,yte.shape)

(595251, 5) (595251,) (255108, 5) (255108,)

In [227]:
from sklearn.ensemble import RandomForestRegressor
rfr=RandomForestRegressor()
rfr.fit(xtr,ytr)

RandomForestRegressor()

In [228]:
y_pred=rfr.predict(xte)

In [229]:
from sklearn.metrics import mean_squared_error
print(np.sqrt(mean_squared_error(yte,y_pred)))

1.1193451451738101

In [241]:
comparable=pd.DataFrame()
comparable['Actual']=yte
comparable['Predicted']=y_pred

In [242]:
comparable

        Actual  Predicted
650722       1        1.0
660177       1        1.0
681903       1        1.0
844045       1        1.0
329257       0        0.0
...        ...        ...
29895       -2       -2.0
162569       1        1.0
329747       0        0.0
292944       8        8.0
344350       1        1.0

[255108 rows x 2 columns]