In [1]:
#data=pd.read_json('jsonfile',lines=True)

In [2]:
#data.to_csv('data.csv')

# Above codes are for creating csv from json

In [1]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
import seaborn as sns
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

In [2]:
data=pd.read_csv('data.csv')

C:\Users\Dell\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (19) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

## Preprocessing

In [3]:
ask_data=data[data['subreddit']=='AskReddit']
#Taking only those data which are from Subreddit AskReddit

In [4]:
ask_data.head(10)

,Unnamed: 0,gilded,author_flair_css_class,id,link_id,downs,subreddit,author,score,subreddit_id,...,body,retrieved_on,parent_id,controversiality,name,score_hidden,distinguished,archived,created_utc,removal_reason
14,14,0,NaN,h,t3_7k903,0,AskReddit,[deleted],1,t5_2qh1i,...,[deleted],1428217153,t3_7k903,0,t1_h,False,NaN,True,1229580130,NaN
21,21,0,NaN,o,t3_7k903,0,AskReddit,ermine,1,t5_2qh1i,...,Ok. Here's what you do. Get some speaker wire ...,1428217153,t3_7k903,0,t1_o,False,NaN,True,1229580158,NaN
26,26,0,NaN,t,t3_7k377,0,AskReddit,movzx,3,t5_2qh1i,...,lol yeah you're right! so hilarious!,1428217153,t1_c06vnj0,0,t1_t,False,NaN,True,1229580220,NaN
50,50,0,NaN,1h,t3_7k8xe,0,AskReddit,robrobrobot,5,t5_2qh1i,...,"Yeah, I've contemplated that quite a bit as we...",1428217153,t1_c06vwnq,0,t1_1h,False,NaN,True,1229580347,NaN
67,67,0,NaN,1y,t3_7k8xe,0,AskReddit,[deleted],1,t5_2qh1i,...,[deleted],1428217153,t1_c06vvz8,0,t1_1y,False,NaN,True,1229580397,NaN
74,74,0,NaN,25,t3_7k92p,0,AskReddit,[deleted],1,t5_2qh1i,...,Let us plan this one :).......,1428217153,t1_c06vwn9,0,t1_25,False,NaN,True,1229580422,NaN
86,86,0,NaN,2h,t3_7jhu5,0,AskReddit,[deleted],1,t5_2qh1i,...,[deleted],1428217153,t3_7jhu5,0,t1_2h,False,NaN,True,1229580451,NaN
104,104,0,NaN,2z,t3_7k90i,0,AskReddit,[deleted],-1,t5_2qh1i,...,[deleted],1428217154,t3_7k90i,0,t1_2z,False,NaN,True,1229580522,NaN
107,107,0,NaN,32,t3_7k7ff,0,AskReddit,kenlubin,1,t5_2qh1i,...,which?,1428217154,t3_7k7ff,0,t1_32,False,NaN,True,1229580531,NaN
127,127,0,NaN,3m,t3_7k7vs,0,AskReddit,krispykrackers,4,t5_2qh1i,...,♥qghy2♥\n\n\nHe's had a lot of reddit love tod...,1428217154,t3_7k7vs,0,t1_3m,False,NaN,True,1229580640,NaN

In [5]:
ask_data.shape

(62211, 23)

In [6]:
#Removing the contents which
ask_data=ask_data[ask_data['body']!='[deleted]']

In [7]:
ask_data['body']

21        Ok. Here's what you do. Get some speaker wire ...
26                     lol yeah you're right! so hilarious!
50        Yeah, I've contemplated that quite a bit as we...
74                           Let us plan this one :).......
107                                                  which?
                                ...
850276    find a rewarding hobby...other than your invet...
850305      I'm already depressed, that just made it worse.
850334                                       `*`applause`*`
850341    You just made me spit take my double ritalin e...
850350    Get her drunk. Have sex with her. Father the c...
Name: body, Length: 55006, dtype: object

# Preprocessing

In [8]:
ask_data

,Unnamed: 0,gilded,author_flair_css_class,id,link_id,downs,subreddit,author,score,subreddit_id,...,body,retrieved_on,parent_id,controversiality,name,score_hidden,distinguished,archived,created_utc,removal_reason
21,21,0,NaN,o,t3_7k903,0,AskReddit,ermine,1,t5_2qh1i,...,Ok. Here's what you do. Get some speaker wire ...,1428217153,t3_7k903,0,t1_o,False,NaN,True,1229580158,NaN
26,26,0,NaN,t,t3_7k377,0,AskReddit,movzx,3,t5_2qh1i,...,lol yeah you're right! so hilarious!,1428217153,t1_c06vnj0,0,t1_t,False,NaN,True,1229580220,NaN
50,50,0,NaN,1h,t3_7k8xe,0,AskReddit,robrobrobot,5,t5_2qh1i,...,"Yeah, I've contemplated that quite a bit as we...",1428217153,t1_c06vwnq,0,t1_1h,False,NaN,True,1229580347,NaN
74,74,0,NaN,25,t3_7k92p,0,AskReddit,[deleted],1,t5_2qh1i,...,Let us plan this one :).......,1428217153,t1_c06vwn9,0,t1_25,False,NaN,True,1229580422,NaN
107,107,0,NaN,32,t3_7k7ff,0,AskReddit,kenlubin,1,t5_2qh1i,...,which?,1428217154,t3_7k7ff,0,t1_32,False,NaN,True,1229580531,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
850276,850276,0,NaN,c06vws5,t3_7k8en,0,AskReddit,ENRICOs,2,t5_2qh1i,...,find a rewarding hobby...other than your invet...,1425909852,t3_7k8en,0,t1_c06vws5,False,NaN,True,1229579439,NaN
850305,850305,0,NaN,c06vwt2,t3_7k482,0,AskReddit,hax0r,3,t5_2qh1i,...,"I'm already depressed, that just made it worse.",1428247739,t1_c06vouc,0,t1_c06vwt2,False,NaN,True,1229579538,NaN
850334,850334,0,NaN,c06vwtv,t3_7k377,0,AskReddit,NotMarkus,4,t5_2qh1i,...,`*`applause`*`,1428247741,t1_c06vurp,0,t1_c06vwtv,False,NaN,True,1229579628,NaN
850341,850341,0,NaN,c06vwu2,t3_7jbl7,0,AskReddit,Mr_A,8,t5_2qh1i,...,You just made me spit take my double ritalin e...,1428247741,t1_c06vs56,0,t1_c06vwu2,False,NaN,True,1229579655,NaN
850350,850350,0,NaN,c06vwub,t3_7k8en,0,AskReddit,[deleted],6,t5_2qh1i,...,Get her drunk. Have sex with her. Father the c...,1428247742,t3_7k8en,0,t1_c06vwub,False,NaN,True,1229579664,NaN

In [9]:
ask_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55006 entries, 21 to 850350
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              55006 non-null  int64
 1   gilded                  55006 non-null  int64
 2   author_flair_css_class  0 non-null      object
 3   id                      55006 non-null  object
 4   link_id                 55006 non-null  object
 5   downs                   55006 non-null  int64
 6   subreddit               55006 non-null  object
 7   author                  55006 non-null  object
 8   score                   55006 non-null  int64
 9   subreddit_id            55006 non-null  object
 10  ups                     55006 non-null  int64
 11  edited                  55006 non-null  int64
 12  author_flair_text       0 non-null      object
 13  body                    55006 non-null  object
 14  retrieved_on            55006 non-null  int64
 15  parent_id               55006 non-null  object
 16  controversiality        55006 non-null  int64
 17  name                    55006 non-null  object
 18  score_hidden            55006 non-null  bool
 19  distinguished           0 non-null      object
 20  archived                55006 non-null  bool
 21  created_utc             55006 non-null  int64
 22  removal_reason          0 non-null      float64
dtypes: bool(2), float64(1), int64(9), object(11)
memory usage: 9.3+ MB

### Observations:
1. Feature 'removal_reason' is all null. So it can be removed. <br>
2. Feature 'distinguished' has only two non-null. So it can be removed <br>
3. Feature 'retrieved_on' is actually a datetime column. So I will keep it on hold and check whether in its absence, my model works well or not.
4. Feature 'gilded' is all 0. There is no next number. So it can be removed from the column. It is of no use.<br>
5. Feature 'downs' is all 0. There is no next number. So it can be removed from the column. It is of no use.<br>
6. Feature 'controversiality' has only one value 1 and others 0. It is also like an outlier. So it is also of no use.<br>
7. Feature 'score_hidden' has all values False. So it can be removed from the column. It is of no use
9. Since created_utc is a datetime column, it doesnt hold any importance.<br>
10. The ups column is our target's copy. I will remove it.<br>
11. Feature 'Unnamed 0' is just the serial number which is useless.<br>
12. Feature 'author_flair_css_class' is all null. So it can be removed.
13. Feature 'subreddit' contains all same entry. It can be removed.
14. The id column is all unique. So it does not contribute at all to our data. It can be removed
15. The feature 'subreddit_id' has only one value all over. So it is also redundant.
16. The feature 'author_flair_text' is all empty column. It can also be removed.
17. Feature 'parent_id' is just random name. It does not play role.
18. The feature 'name' is all unique, does not contribute either.
19. Feature 'archived' has all True values. Can be removed.
### Features that can be used (guessed) are
-link id <br>
-author

In [10]:
ask_data=ask_data.drop(columns=['removal_reason','distinguished','retrieved_on','gilded','downs','controversiality','score_hidden','created_utc','ups','Unnamed: 0','author_flair_css_class','subreddit','id','subreddit_id','author_flair_text','name','archived'])

<b>Note- The features like parent_id and link_id may play the role in modeling but we cant ask such input from the user. So removing them.</b>

In [11]:
ask_data=ask_data.drop(columns=['link_id','parent_id','author'])

In [12]:
ask_data.head()

     score  edited                                               body
21       1       0  Ok. Here's what you do. Get some speaker wire ...
26       3       0               lol yeah you're right! so hilarious!
50       5       0  Yeah, I've contemplated that quite a bit as we...
74       1       0                     Let us plan this one :).......
107      1       0                                             which?

In [13]:
ask_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55006 entries, 21 to 850350
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   score   55006 non-null  int64
 1   edited  55006 non-null  int64
 2   body    55006 non-null  object
dtypes: int64(2), object(1)
memory usage: 1.7+ MB

20. The feature 'score' is actually a label. So we will remove it.

In [14]:
#For now, we will just take comments as x and score as our y value
y=ask_data['score']
ask_data=ask_data.drop(columns='score',axis=1)

In [15]:
ask_data

        edited                                               body
21           0  Ok. Here's what you do. Get some speaker wire ...
26           0               lol yeah you're right! so hilarious!
50           0  Yeah, I've contemplated that quite a bit as we...
74           0                     Let us plan this one :).......
107          0                                             which?
...        ...                                                ...
850276       0  find a rewarding hobby...other than your invet...
850305       0    I'm already depressed, that just made it worse.
850334       0                                     `*`applause`*`
850341       0  You just made me spit take my double ritalin e...
850350       0  Get her drunk. Have sex with her. Father the c...

[55006 rows x 2 columns]

In [16]:
x=ask_data['body'].values

### Cleaning the Text

In [17]:
x

array(["Ok. Here's what you do. Get some speaker wire and either coil it into loops of ~3.5ft or cut strips of the same length. You'll want a good handful of strips or loops. Now strip the insulation from the last foot or so. Take a knife and run it up &amp; down the exposed wire (think barber sharpening razor). Do this until metal splinters begin to form. Repeat for each loop.\r\n\r\nNow here's the tricky part. Do you fish? Your swatting motion should result in the splinters sticking into your child's delicate skin. Wrist motion is important. You should feel a certain resistance when you try to bring the wire back in preparation for the next strike. This should be similar to the sensation when you first realize you have a fish on your line. If this doesn't occur, then keep trying. Practice makes perfect. A skilled individual will be able to remove little chunks of flesh with each swat.",
       "lol yeah you're right! so hilarious!",
       "Yeah, I've contemplated that quite a bit as well. I guess the most unnerving thing is  the incomprehensibility of it all. The fact that I can't wrap my head around the fact that I didn't exist (consciously not physically, the matter I am physically made of has existed since the beginning of matter itself) prior to being conceived is just so unbelievably  disconcerting for me for some reason",
       ..., '`*`applause`*`',
       'You just made me spit take my double ritalin espresso all over the keyboard!',
       'Get her drunk. Have sex with her. Father the child; marry her.\nGet absofuckinglutely bored of the relationship in a few years. Enjoy.'],
      dtype=object)

In [18]:
def cleaner(data):
    data1=re.sub('[^a-zA-Z]',' ',data)
    data2=data1.lower()
    data3=data2.strip()
    data4=nltk.word_tokenize(data3)
    data5=[i for i in data4 if i not in set(stopwords.words('english'))]
    data6=[WordNetLemmatizer().lemmatize(i) for i in data5]
    data7=' '.join(data6)
    return data7
cleaner('hi How! are 34 the biggest psychological nicest historians')

'hi biggest psychological nicest historian'

In [19]:
for k in range(len(x)):
    x[k]=cleaner(x[k])

In [20]:
x=[i.split() for i in x]

In [21]:
len(x)

55006

In [22]:
y.shape

(55006,)

## Modeling

### Using Doc2Vec

<b>Word2Vec creates sentiments with words where Doc2Vec creates sentiments with sentences.</b>

In [23]:
import gensim
from gensim.models import Doc2Vec
from gensim.models.doc2vec import TaggedDocument

In [24]:
tagged_data=[TaggedDocument(d,[i]) for i,d in enumerate(x)]

In [25]:
len(tagged_data)

55006

In [26]:
model=Doc2Vec(tagged_data,vector_size=20,epochs=100,min_count=0)

In [27]:
model.corpus_count

55006

In [28]:
o_model=model.docvecs.vectors_docs

In [29]:
o_model.shape

(55006, 20)

In [30]:
model.docvecs.vectors_docs.shape

(55006, 20)

In [31]:
y.shape

(55006,)

### Adding 'edited' feature to the model

In [32]:
val=ask_data['edited'].values

In [33]:
newpd=pd.DataFrame(o_model)

In [34]:
newpd.insert(loc=20,column=20,value=val)

In [35]:
final_op=newpd.values

In [36]:
final_op.shape

(55006, 21)

In [54]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
final_op_scaled=ss.fit_transform(final_op)


## Train Test Split

In [59]:
from sklearn.model_selection import train_test_split
xtr,xte,ytr,yte=train_test_split(final_op_scaled,y,test_size=0.2)

## Trying ElasticNet

In [60]:
from sklearn.linear_model import ElasticNet

In [61]:
elr=ElasticNet()

In [62]:
elr.fit(xtr,ytr)

ElasticNet()

In [63]:
y_pred=elr.predict(xte)

In [64]:
y_pred

array([4.76740758, 4.64290865, 4.52442696, ..., 4.70266313, 4.90489264,
       5.94695779])

In [65]:
yte

643383     1
198271    19
347150     2
160757     3
692496     3
          ..
120462    31
21591      2
400732     1
358745     1
492021     2
Name: score, Length: 11002, dtype: int64

In [66]:
from sklearn.metrics import mean_squared_error,r2_score
print(np.sqrt(mean_squared_error(yte,y_pred)))
print(np.sqrt(r2_score(yte,y_pred)))

12.39271048786027
0.05000484099550631

### Checking with one sentence as input

In [116]:
#Checking with input sentence
inp_sent=input('Enter the sentence: ')
inp_edit=int(input('Enter the number of edits made:'))

Enter the sentence: you fucking bastard
Enter the number of edits made:1

In [125]:
def for_one_input(a,b):
    cleaned_inp=cleaner(a)
    listed=cleaned_inp.split()
    vectorized_inp=model.infer_vector(listed)
    all_added=np.append(vectorized_inp,b)
    all_added_scaled=ss.fit_transform(all_added.reshape(-1,1))
    return np.round(elr.predict(all_added_scaled.reshape(1,-1)),0)

In [130]:
#Checking with input sentence
inp_sent=input('Enter the sentence: ')
inp_edit=int(input('Enter the number of edits made:'))

print('The number of comments you will receive is ,',for_one_input(inp_sent,inp_edit))

Enter the sentence: cleaned_inp=cleaner(inp_sent) listed=cleaned_inp.split() vectorized_inp=model.infer_vector(listed) all_added=np.append(vectorized_inp,inp_edit) all_added_scaled=ss.fit_transform(all_added.reshape(-1,1)) elr.predict(all_added_scaled.reshape(1,-1))
Enter the number of edits made:23
The number of comments you will receive is , [5.]

## Deployment

# THE CODES BELOW THIS BLOCK ARE RUDIMENTARY😜

## Trying NN

### NN Preprocessing

In [28]:
import tensorflow 
from tensorflow import keras
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences

In [29]:
tk=Tokenizer(num_words=10000,oov_token='OOV')
tk.fit_on_texts(x)

In [32]:
seq=tk.texts_to_sequences(x)

In [45]:
padded_seq=keras.preprocessing.sequence.pad_sequences(seq,maxlen=100)

In [52]:
max_len=max([len(i.split()) for i in x])
vocab_size=len(tk.word_index)+1
print(max_len,vocab_size)

860 45327

### NN Modeling

In [58]:
model=keras.models.Sequential()
model.add(keras.layers.Embedding(input_dim=vocab_size,output_dim=50,input_length=max_len))
model.add(keras.layers.Bidirectional(keras.layers.LSTM(50)))
model.add(keras.layers.Dense(50))
model.add(keras.layers.Dense(50))
model.add(keras.layers.Dense(1))

In [59]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_2 (Embedding)      (None, 860, 50)           2266350
_________________________________________________________________
bidirectional_1 (Bidirection (None, 100)               40400
_________________________________________________________________
dense_3 (Dense)              (None, 50)                5050
_________________________________________________________________
dense_4 (Dense)              (None, 50)                2550
_________________________________________________________________
dense_5 (Dense)              (None, 1)                 51
=================================================================
Total params: 2,314,401
Trainable params: 2,314,401
Non-trainable params: 0
_________________________________________________________________

In [60]:
model.compile(loss='mean_squared_error',optimizer='adam',metrics='accuracy')

In [63]:
hist=model.fit(padded_seq,y,batch_size=32,epochs=10,validation_split=0.3)

Epoch 1/10
WARNING:tensorflow:Model was constructed with shape (None, 860) for input KerasTensor(type_spec=TensorSpec(shape=(None, 860), dtype=tf.float32, name='embedding_2_input'), name='embedding_2_input', description="created by layer 'embedding_2_input'"), but it was called on an input with incompatible shape (None, 100).
WARNING:tensorflow:Model was constructed with shape (None, 860) for input KerasTensor(type_spec=TensorSpec(shape=(None, 860), dtype=tf.float32, name='embedding_2_input'), name='embedding_2_input', description="created by layer 'embedding_2_input'"), but it was called on an input with incompatible shape (None, 100).
1204/1204 [==============================] - ETA: 0s - loss: 162.3136 - accuracy: 0.3001WARNING:tensorflow:Model was constructed with shape (None, 860) for input KerasTensor(type_spec=TensorSpec(shape=(None, 860), dtype=tf.float32, name='embedding_2_input'), name='embedding_2_input', description="created by layer 'embedding_2_input'"), but it was called on an input with incompatible shape (None, 100).
1204/1204 [==============================] - 113s 88ms/step - loss: 162.3740 - accuracy: 0.3001 - val_loss: 127.8762 - val_accuracy: 0.3443
Epoch 2/10
1203/1204 [============================>.] - ETA: 0s - loss: 199.5233 - accuracy: 0.3100

KeyboardInterrupt:

### Using TFIDF

In [50]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf=TfidfVectorizer()
x_vec=tfidf.fit_transform(x)

## Creating the model

In [54]:
from sklearn.model_selection import train_test_split
xtr,xte,ytr,yte=train_test_split(x_vec,y,test_size=0.3,random_state=12)

In [55]:
print(xtr.shape,ytr.shape,xte.shape,yte.shape)

(38504, 45301) (38504,) (16502, 45301) (16502,)

### ExtraTreesRegressor

In [125]:
from sklearn.ensemble import ExtraTreesRegressor
etr=ExtraTreesRegressor(n_estimators=100,max_depth=5)

In [126]:
etr.fit(xtr,ytr)

ExtraTreesRegressor(max_depth=5)

In [127]:
y_bar=etr.predict(xte)

In [141]:
yte=yte.values

In [148]:
yte[:20]

array([ 2,  2,  3,  6,  3,  4,  6,  3,  2,  1,  1,  3, 64,  6,  1,  2,  2,
        4,  1,  0], dtype=int64)

In [152]:
y_bar[:20]

array([4.72844201, 4.72844201, 4.72844201, 4.72844201, 4.72844201,
       4.72844201, 4.72844201, 4.72844201, 4.72844201, 4.72844201,
       4.72844201, 4.72844201, 4.72844201, 4.72844201, 4.72844201,
       4.72844201, 4.72844201, 4.72844201, 4.72844201, 4.72844201])

### LinearRegression

In [56]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(xtr,ytr)

LinearRegression()

In [58]:
y_bar=lr.predict(xte)

In [60]:
yte[:20]

448520     2
649761     2
272008     3
316804     6
313375     3
155028     4
146751     6
527913     3
521179     2
250433     1
281615     1
227690     3
65602     64
169095     6
93537      1
485018     2
836914     2
701631     4
597426     1
507722     0
Name: score, dtype: int64

In [61]:
y_bar[:20]

array([  5.73330151,  -2.05523801,   5.15453645,  41.98346639,
       -23.09150755,   1.29575738,   0.70849176,   7.34936021,
        -2.73965296,   5.66951156,  -6.99157028,  -2.77485703,
        56.59480901, -20.27972976, -12.69662798, -53.94254226,
        18.86449952,   6.43612577, -18.05670591,   5.31680484])